name: Manual Trigger Example

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Select environment"
        type: choice
        required: true
        options:
          - dev
          - staging
          - production

jobs:
  run-manually:
    runs-on: ubuntu-latest
    steps:
      - name: Do something
        run: echo "Running job triggered manually on ${{ github.event.inputs.environment }}!"
