name: push-pr 

on: 
  push: 
    branches:
      - main
      - "feature/**"
      - dev
    paths:
      - "src/**" 
      - "package.json" 
      - "./"
  pull_request:
    branches:
      - main
      - "feature/**"
      - test
jobs:
  test:
    runs-on: ubuntu-latest
    steps: 
      - name: checkout
        uses: actions/checkout@v4
      
      - name: install dependencies
        run: npm install

      - name: test code
        run: npm test  

  
